.formatcard{
    --slds-c-card-color-background : var(--lwc-colorBackgroundHighlight);
    --slds-c-card-text-color : red;
}

.formatbutton{
--slds-c-button-brand-color-background : purple;
--slds-c-button-brand-color-background-active : purple;
--slds-c-button-brand-color-background-hover : purple;
--slds-c-button-brand-color-border : green;
}

.formatbadge{
--slds-c-badge-color-background : purple;
--slds-c-badge-inverse-text-color : purple;
}

.formatpill{
--slds-c-pill-color-background : orange;
}